<nav class="navbar" role="navigation">
    
   
        <div class="navbar-brand">
            
            {{ range site.Menus.social }}
            <a href="{{ .URL }}" class="navbar-item " title="{{ .Name }}"><span
                    class="icon">{{ .Pre }}</span></a>
            {{ end }}
            <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>  

        <div class="navbar-menu">
            <div class="navbar-start">
                {{ range site.Menus.main2 }}
                <a href="{{ .URL }}" class="navbar-item is-hidden-desktop">{{ .Name }}</a>
                {{ end }}
            </div>
            
        </div>
   
 
  </nav>
  <script>
    $(document).ready(function () {
        $(".navbar-burger").click(function () {
            $(".navbar-burger").toggleClass("is-active");
            $(".navbar-menu").toggleClass("is-active");
        })
    })
  </script>