<section class="section">
    <div class="columns is-centered">
      <div class="column max-800px">
        <div class="columns is-mobile">
          <div class="column has-text-left">
            
            {{ with .NextInSection }}
            <p>Previous battle:</p>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            {{ end }}
          </div>
          <div class="column has-text-right">
            {{ with .PrevInSection }}
            <p>Next battle:</p>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>