<picture>
    <!-- load webp images if supported -->
    <source type="image/webp"
        sizes=" (max-width: 500px) 500px,
                (max-width: 768px) 768px,
                (max-width: 1024px) 1024px,
                100vw"
        srcset="
          img/cover.webp 500w,
          img/cover-768.webp 768w,
          img/cover-1024.webp 1024w,
          img/image-full.webp 1920w
        "
    >
    <!-- load traditional supported image format -->
    <img
    srcset="img/cover-600.jpg 1024w, 
            img/cover-300.jpg 768w,
            img/cover.jpg 500w"
    sizes=" (max-width: 500px) 500px,
            (max-width: 768px) 768px,
            (max-width: 1024px) 1024px,
        100vw"
      src="img/cover.jpg"
      alt="Buildings of Paris"
      loading="lazy"
      decoding="async"
      width="1243"
      height="1500">
  </picture>

  